
@import "primereact/resources/themes/lara-light-blue/theme.css"; 
@import "primereact/resources/primereact.min.css"; 
@import "primeicons/primeicons.css"; 
@import 'primeflex/primeflex.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  text-align: center;
}

.title-ayurveda-logo {
  font-family: Pacifico, cursive;
  font-size: 3rem;
  color: black;
  font-weight: bold;
  text-shadow: 5px 5px #0003;
}