
@import "primereact/resources/themes/lara-light-blue/theme.css"; 
@import "primereact/resources/primereact.min.css"; 
@import "primeicons/primeicons.css"; 
@import 'primeflex/primeflex.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
